<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>영화 리뷰 사이트</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style_movies.css') }}">
</head>
<body>
    <header>
        <a href="main.html" id="title"><h1>영화 리뷰 사이트</h1></a>
    </header>

    <main>
        <ul id="movie-items" class="horizontal">
            <li class="movie-item">
                <div class="image-container">
                <img src="{{ url_for('static', filename=movie_info.image_url) }}" alt="영화 이미지"><br />
                <div class="detail_container">
                <div id="movie_name"><br />{{movie_info.title}}<br /></div><hr>
                <br />감독 : {{movie_info.director}} <br />
                <br />배우 : {{movie_info.actors}} <br />
                <br />장르 : {{movie_info.genre}} <br />
                <br />개봉 : {{movie_info.release_date}} <br />
                </div>
                </div>
                <br>
                <br><span style="font-size: 30px;">&lsquo;소개&rsquo;</span><br/>
                <br />
                {{movie_info.description}}
                <br />
                </li>
        </ul>
    </main>
</body>
</html>

<html lang="en">
<head>
 <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>리뷰 후기</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style_review.css') }}">
</head>
<body>
    <div id="comment-container">
        <h2>리뷰 후기</h2>
        <textarea id="comment-input1" placeholder="리뷰를 입력하세요." class="comment-input"></textarea>
        <button id="review-plus-button1" class="review-plus-button">리뷰 추가</button>
        <ul id="comment-list1" class="comment-list"></ul>
    </div>
    <div id="movie-info" data-movie-info="{{movie_info | tojson | safe}}"></div>

    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script>
        var star;
        console.log($('#movie-info').data('movie-info'))
        $(document).ready(function(){
            var movie_info = JSON.parse($('#movie-info').data('movie-info'));
            $.ajax({
                type:"GET",
                url: "/get_reviews/" + movie_info.id,
                success: function(datas) {
                    // 리뷰 목록 부분
                    var commentList = document.getElementById('comment-list1');
                    datas.forEach(function(data) {
                        // 리뷰 목록안에 리뷰한줄
                        var commentItem = document.createElement('li');
                        commentItem.className = 'comment';
                        commentList.appendChild(commentItem); 

                        // 리뷰한줄안에 별점들어갈칸, 리뷰들어갈칸 두개의 칸 만들기
                        var div_star = document.createElement('div');
                        var div_review = document.createElement('div');

                        div_star.className='star_div';
                        div_review.className='review_div';

                        div_star.textContent = '\u2605'.repeat(data.star);
                        div_review.textContent = data.review

                        commentItem.appendChild(div_star)
                        commentItem.appendChild(div_review)
                    })
                }
            })
            $("#review-plus-button1").click(function(){
                var commentInput = document.getElementById('comment-input1');
                if (commentInput.value.trim() === '') {
                    alert('리뷰를 입력하세요.');
                    return;
            }
                var input_data = commentInput.value;

                url = "/movie" + movie_info.id + ".html"
                console.log(url)
                // 서버에 데이터 보내기
                $.ajax({
                    type: "POST",
                    url: "/movie" + movie_info.id + ".html",
                    contentType: "application/json; charset=utf-8",
                    data: JSON.stringify({data:input_data}),
                    success: function(res_data){
                        console.log('suc',res_data.star)
                        // 별점 데이터 가져오기 (str)
                        star=res_data.star
                        
                        // 별점데이터 변환 (str->int)
                        star_int = parseInt(star,10);
                        
                        // 리뷰 목록 부분
                        var commentList = document.getElementById('comment-list1');

                        // 리뷰 목록안에 리뷰한줄
                        var commentItem = document.createElement('li');
                        commentItem.className = 'comment';
                        commentList.appendChild(commentItem);

                        // 리뷰한줄안에 별점들어갈칸, 리뷰들어갈칸 두개의 칸 만들기
                        var div_star = document.createElement('div');
                        var div_review = document.createElement('div');

                        div_star.className='star_div';
                        div_review.className='review_div';

                        div_star.textContent = '\u2605'.repeat(star_int);
                        div_review.textContent = input_data

                        commentItem.appendChild(div_star)
                        commentItem.appendChild(div_review)

                        commentInput.value = '';

                    },
                    error: function(err){
                        console.log('err',err)
                    }
                });
           
            })
        })
    </script>
</body>
</html>
